<igx-navbar [title]="title" actionButtonIcon="menu" (onAction)="drawer.toggle()">
    <igx-icon name="add" (click)="onClickAdd()"></igx-icon>
  </igx-navbar>
  <igx-nav-drawer #drawer [pinThreshold]="false" width="280px">
  
    <div class="ig-drawer-content">
        <ng-template igxDrawer> 
          <nav class="nav">
            <span class="nav-item header">menus</span>
            <span class="nav-item" igxDrawerItem igxRipple [routerLinkActive]="'active'" routerLink="dashboard" (click)="drawer.close();">
              <igx-icon fontSet="material" name="home"></igx-icon>
              <span>Dashboard</span>
            </span>
            <span class="nav-item" igxDrawerItem igxRipple [routerLinkActive]="'active'" routerLink="settings" (click)="drawer.close();">
              <igx-icon fontSet="material" name="settings"></igx-icon>
              <span>Setting</span>
            </span>
            <span class="nav-item" igxDrawerItem igxRipple [routerLinkActive]="'active'" routerLink="about" (click)="drawer.close();">
              <igx-icon fontSet="material" name="person"></igx-icon>
              <span>About</span>
            </span>
          </nav>
        </ng-template>
    </div>
  </igx-nav-drawer>
  
  <router-outlet></router-outlet>